################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/HelloWorld/.vs/HelloWorld
/HelloWorld/HelloWorld/bin/Debug/net6.0
/HelloWorld/HelloWorld/obj
